.card {
  position: relative;
  min-height: 8rem;
  max-height: 16rem;

  textarea {
    border: 0;
    background: transparent;
    color: currentColor;
    resize: none;
    margin: 0;
    padding: 0;
    height: 8rem;
  }

  .delete-btn {
    flex: 0 0 auto;
  }
}

.vote-btn {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
}
