<div class="card card-body mb-3" [style.background]="bgColor" [style.color]="color">
  <div *ngIf="editing">
    <textarea #textInput class="form-control" [(ngModel)]="card.text"></textarea>
    <button *ngIf="editable" class="delete-btn btn btn-block btn-danger mt-3" type="button" (click)="delete()">
      <i class="fa fa-times"></i> Delete
    </button>
  </div>

  <div *ngIf="!editing" class="read-only">
    <div class="read-only" [innerHtml]="markup"></div>
    <button *ngIf="voting" class="vote-btn btn btn-secondary" [ngClass]="{ disabled: voted }" (click)="addVote()">
        <i class="fa fa-plus"></i> {{card.voteCount}}</button>
  </div>
</div>
