<div class="d-flex flex-column board contribute">
  <div class="title-bar d-flex align-items-center">
    <h1 class="title">{{session?.title}}</h1>
    <a class="btn btn-green ml-auto" [ngClass]="buttonTheme" [routerLink]="['/voting', session?.sessionId || '']">Go To Vote</a>
  </div>
  <div class="categories d-flex">
    <app-category
      *ngFor="let category of categories; index as idx"
      [category]="category"
      class="align-self-stretch"
      [editable]="false"
     >
    </app-category>
  </div>
</div>
