<div *ngIf="editing" class="input-group pb-2">
  <input #nameInput type="text" class="form-control" (keyup.enter)="save()" [(ngModel)]="category.name">
  <span class="input-group-btn">
    <button class="btn btn-primary" type="button" (click)="save()">Save</button>
  </span>
</div>

<div *ngIf="!editing" class="d-flex align-items-start pb-2">
  <h3 class="mr-auto">{{category.name}}</h3>
  <button *ngIf="editable" class="btn btn-outline-secondary mr-1" type="button" (click)="edit()">
    <i class="fa fa-pencil"></i>
  </button>
  <button *ngIf="editable" class="btn btn-outline-danger" type="button" (click)="delete()">
    <i class="fa fa-times"></i>
  </button>
</div>

<div class="cards d-flex flex-column" *ngIf="!designing">
  <app-card *ngFor="let card of cards; index as idx" [card]="card" class="align-self-stretch" [editable]="!voting && card.userId === user.userId"
    (remove)="removeCard(idx)" [voting]="voting">
  </app-card>
  <button *ngIf="!voting" class="btn btn-secondary mb-3 align-self-center" (click)="addCard()" [ngClass]="buttonTheme" >
    <i class="fa fa-plus"></i> Card
  </button>
</div>