<nav class="navbar fixed-top navbar-expand-sm" [ngClass]="theme">
  <a class="navbar-brand mr-auto" routerLink="/">
    <span>
      RETR.IO
    </span>
  </a>
  <ul class="navbar-nav">
    <li ngbDropdown placement="bottom-right" class="nav-item">
      <a class="nav-link" id="themeDropdownToggle" ngbDropdownToggle>
        <i class="fa fa-paint-brush"></i>
      </a>
      <div ngbDropdownMenu aria-labelledby="themeDropdownToggle">
        <button class="dropdown-item" (click)="changeTheme($event, 0)">Dark Theme (Blue)</button>
        <button class="dropdown-item" (click)="changeTheme($event, 1)">Dark Theme (Pink)</button>
        <button class="dropdown-item" (click)="changeTheme($event, 2)">Dark Theme (Green)</button>
        <button class="dropdown-item" (click)="changeTheme($event, 3)">Light Theme (Green)</button>
        <button class="dropdown-item" (click)="changeTheme($event, 4)">Hotdog Stand (Beautiful)</button>
      </div>
    </li>
  </ul>
</nav>