.categories {
  max-width: 100vw;
  overflow-x: auto;
}

app-category {
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 1px solid rgba(0, 0, 0, .125);
  flex: 0 0 25rem;
  display: block;
  height: calc(100vh - 72px - 50px - 1rem);
  overflow-y: auto;
}
