<div *ngIf="session" class="d-flex flex-column board">
  <div class="title-bar d-flex align-items-center pb-3">
    <div *ngIf="editing" class="input-group mr-auto" style="flex: 0 1 25rem">
      <input #titleInput type="text" class="form-control" [(ngModel)]="session.title" (keyup.enter)="save()">
      <span class="input-group-btn">
        <button type="button" class="btn btn-primary" (click)="save()">
          Save
        </button>
      </span>
    </div>
    <h1 *ngIf="!editing" class="title">{{session.title}}</h1>
    <button *ngIf="!editing" class="btn btn-outline-secondary ml-2 mr-auto" type="button" (click)="edit()">
      <i class="fa fa-pencil"></i>
    </button>
    <a class="btn btn-green ml-2" [routerLink]="['/contribute', session?.sessionId || '']" [ngClass]="buttonTheme">Start Session</a>
  </div>
  <div class="categories d-flex">
    <app-category
      *ngFor="let category of categories; index as idx"
      [category]="category"
      class="align-self-stretch"
      [editable]="true"
      (remove)="removeCategory(idx)"
      [designing]="true"
     >
    </app-category>
    <button class="btn btn-secondary mr-3 align-self-start" (click)="addCategory()">
      <i class="fa fa-plus"></i> Category
    </button>
  </div>
</div>
