<form class="d-flex  justify-content-center align-items-center align-self-center landing-page">
  <div class="container">
    <form #joinForm="ngForm">
      <div class="p-2">
        <input type="text" class="form-control text-center" name="inputSessionId" placeholder="Get Retro Id from Anne" [(ngModel)]="sessionId"
          required #inputSessionId="ngModel">
      </div>
      <div class="p-2">
        <button class="btn text-center col-md-12" type="submit" (click)="joinRetro()" [disabled]="!joinForm.valid" [ngClass]="getButtonTheme()">Join Retro</button>
      </div>
    </form>
    <div class="py-3">
      <div class="col-md-12 text-center">
        <span>OR</span>
      </div>
    </div>
    <div class="p-2">
      <button class="btn text-center col-md-12" (click)=createRetro() [ngClass]="getButtonTheme()">Create Retro</button>
    </div>
  </div>
</form>