<div class="d-flex flex-column board">
  <h1 class="title">{{session?.title}}</h1>
  <div class="categories d-flex">
    <app-category *ngFor="let category of categories; index as idx" [category]="category" class="align-self-stretch" [editable]="false"
      [voting]="true">
    </app-category>
  </div>
</div>